* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
    outline: none;
}

:root {
    --main-cl: rgba(75, 180, 255, 1);
    --text-cl: rgba(65, 220, 255, 1);
    --text-shadow-cl: rgba(65, 220, 255, 0.25);
    --main-shadow-cl: rgba(75, 180, 255, 0.25);
    --grid-cl: rgba(75, 180, 255, 0.07);
    font-family: 'Consolas';
    font-size: 16px;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #000;
}

.canvas-wrap {
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 16px;
}

.canvas {
    display: block;
    width: 750px;
    height: 750px;
    box-shadow: 0 0 3px 0 var(--text-cl);
    background-image:
      linear-gradient(0deg, var(--grid-cl), var(--grid-cl) 1px, transparent 1px, transparent 49px, var(--grid-cl) 49px, var(--grid-cl)),
      linear-gradient(90deg, var(--grid-cl), var(--grid-cl) 1px, transparent 1px, transparent 49px, var(--grid-cl) 49px, var(--grid-cl));
    background-size: 50px 50px, 50px 50px;
    background-repeat: repeat, repeat;
}

.canvas-progress-label {
    color: var(--main-cl);
}

.cell-btn {
    display: block;
    width: 100%;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--main-cl);
    color: var(--text-cl);
    transition: all 0.3s;
    font-size: 14px;
    line-height: 14px;
    padding: 4px 32px;
}

.cell-btn:hover,
.cell-btn:focus,
.cell-btn:active {
    text-shadow: 0 0 3px var(--text-shadow-cl);
    box-shadow: 0 0 12px 4px var(--main-shadow-cl),
        inset  0 0 12px 4px var(--main-shadow-cl);
}

.cell-btn:disabled {
    opacity: 0.4;
    pointer-events: none;
}

.cell-section {
    padding: 64px 0;
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: stretch;
    column-gap: 16px;
}

.cell-options {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    border-radius: 4px;
}
